python-decouple
psycopg2-binary
pip
bcrypt
csvkit
numpy~=1.21.6
scipy
opencv-contrib-python
imutils~=0.5.4
dlib
face-recognition
pandas
pillow
pyfiglet~=0.8.post1
flask
requests
flask-cors
flask-restful
flask-reuploaded
flask-jwt-extended
sqlalchemy~=1.4.48
marshmallow~=3.19.0
marshmallow-sqlalchemy

greenlet~=1.1.3
werkzeug~=2.0.0